openapi: 3.0.0
info:
  title: Hotel Booking API
  version: 1.0.0
  description: API для онлайн-бронирования отелей
servers:
  - url: https://api.hotel-booking.com/v1
    description: Production server
paths:
  /hotels/search:
    get:
      summary: Поиск доступных отелей
      description: Возвращает список отелей и номеров с учетом параметров поиска
      parameters:
        - name: city
          in: query
          required: true
          description: Город для поиска
          schema:
            type: string
          example: Москва
        - name: check_in_date
          in: query
          required: true
          description: Дата заезда (YYYY-MM-DD)
          schema:
            type: string
            format: date
          example: '2025-06-20'
        - name: check_out_date
          in: query
          required: true
          description: Дата выезда (YYYY-MM-DD)
          schema:
            type: string
            format: date
          example: '2025-06-25'
        - name: adults
          in: query
          required: true
          description: Количество взрослых
          schema:
            type: integer
            minimum: 1
          example: 2
        - name: children
          in: query
          description: Количество детей
          schema:
            type: integer
            minimum: 0
          example: 1
      responses:
        '200':
          description: Успешный поиск
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HotelSearchResult'
        '400':
          description: Невалидные параметры
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Ошибка интеграции с PMS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /bookings:
    post:
      summary: Создание бронирования
      description: Создает новое бронирование и возвращает информацию для подтверждения
      security:
        - BearerAuth: []
      requestBody:
        required: true
        description: Данные для создания бронирования
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingCreateRequest'
      responses:
        '201':
          description: Бронирование создано
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingCreateResponse'
        '400':
          description: Отсутствуют обязательные поля
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Номер не найден
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '409':
          description: Номер недоступен
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    BookingCreateRequest:
      type: object
      required:
        - room_id
        - guest
        - check_in_date
        - check_out_date
      properties:
        room_id:
          type: integer
          description: ID номера
          example: 101
        guest:
          type: object
          description: Информация о госте
          required:
            - first_name
            - last_name
            - email
            - phone
          properties:
            first_name:
              type: string
              description: Имя гостя
              example: Иван
            last_name:
              type: string
              description: Фамилия гостя
              example: Иванов
            email:
              type: string
              format: email
              description: Email гостя
              example: ivanov@mail.ru
            phone:
              type: string
              description: Телефон гостя
              example: '+79161234567'
        check_in_date:
          type: string
          format: date
          description: Дата заезда
          example: '2025-06-20'
        check_out_date:
          type: string
          format: date
          description: Дата выезда
          example: '2025-06-25'
    HotelSearchResult:
      type: object
      properties:
        data:
          type: array
          description: Список найденных отелей
          items:
            $ref: '#/components/schemas/HotelResultItem'
    HotelResultItem:
      type: object
      properties:
        hotel_id:
          type: integer
          description: ID отеля
          example: 1
        name:
          type: string
          description: Название отеля
          example: Отель Москва
        star_rating:
          type: integer
          description: Количество звезд (1-5)
          example: 5
        rooms:
          type: array
          description: Доступные номера
          items:
            $ref: '#/components/schemas/RoomResultItem'
    RoomResultItem:
      type: object
      properties:
        room_id:
          type: integer
          description: ID номера
          example: 101
        room_type:
          type: string
          description: Тип номера
          example: Стандарт
        price_per_night:
          type: number
          format: float
          description: Цена за ночь
          example: 3500
        available:
          type: boolean
          description: Доступность номера
          example: true
    BookingCreateResponse:
      type: object
      properties:
        booking_id:
          type: integer
          description: ID созданного бронирования
          example: 12345
        status:
          type: string
          description: Статус бронирования
          example: Ожидает оплаты
        confirmation_url:
          type: string
          description: URL для подтверждения оплаты
          example: /api/bookings/12345/confirm
    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Код ошибки
              example: ROOM_NOT_AVAILABLE
            message:
              type: string
              description: Описание ошибки
              example: Номер недоступен на выбранные даты
            details:
              type: object
              description: Дополнительные данные
              properties:
                available_dates:
                  type: array
                  description: Доступные даты для бронирования
                  items:
                    type: string
                    format: date
                  example:
                    - '2025-06-27'
                    - '2025-06-28'
